<div class="container">
    <mat-form-field class="containerFormField">
        <input type="text" matInput placeholder="Enter Category" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="containerFormField">
        <mat-label>Select Category</mat-label>
        <mat-select>
            <mat-option value="1">Electronics</mat-option>
            <mat-option value="2">Home Needs</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="" class="btnContainer">Add Category</button>
</div>